#link {
  color: #b670d3;
  text-decoration: none;
  border-bottom: #b670d3 0.125em solid;
  /* font-family:  */
  /* bor */
}

#wierd {
  color: #b670d3;
  text-decoration: none;
  border-bottom: #b670d3 0.125em solid;
}

#root {
  /* background-color: red; */
  /* min-height: 100vh; */
}

#logo {
  padding-left: 25%;
}

/* this set of designs is for the iphone specific styling and it is done thank God */

/* designing for iphones 6 7 and 8  */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  #root {
    padding-top: 3%;
    min-height: 105vh;
  }
  #logo {
    padding-left: 20%;
  }
}

/* designing for iphone 6 7 and 8 landscape mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  #root {
    padding-top: 1%;
    min-height: 200vh;
  }
  #logo {
    padding-left: 25%;
  }
}

/* desingning for iphone x and xs portrait*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #root {
    min-height: 90vh;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  /* STYLES GO HERE */
  #root {
    min-height: 190vh;
    /* padding-top: 20%; */
  }
}

/* designing for iphone 6 7 8 plus  */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  #root {
    padding-top: 1%;
    min-height: 100vh;
  }
  #logo {
    padding-left: 24%;
  }
}

/* designing for iphone 6 7 8 plus landscapes  */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  #root {
    min-height: 200vh;
    padding-top: 1%;
  }
}

/* desiging for iphone 5  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: portrait) {
  #root {
    /* padding-top: 5%; */
    min-height: 125vh;
  }
  #logo {
    padding-left: 15%;
  }
}

/* desiging for iphone 5 landscape mode */
/* @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {
  #root {
    min-height: vh;
  }
} */

/* this section will be for samsung galaxy and the rest  */
@media only screen and (min-device-width: 360px) and (max-device-width: 640) and (orientation: portrait) {
  #root {
    min-height: 300vh;
  }
}
